h1 {
   font-size: 50px;
   margin: 0 auto;
   text-align: center;
}

.outside{
   border-radius: 50%;
   border-width: 3px;
   width: 1264px;
   height: 300px;
   display: inline-block;
   margin-left: auto;
   position: relative;
   margin: 0 auto;
   position: relative;
   text-align: center;
}


#green {
   display: inline-block;
   background-color: green;
   width: 150px;
   height: 150px;
   background: rgba(0, 204, 0, 0.4);
}

#red {
   display: inline-block;
   background-color: red;
   width: 150px;
   height: 150px;
   border-width: 4px;
   border-style: solid;
   background: rgba(255, 0, 0, 0.4);
}

#yellow {
   display: inline-block;
   background-color: yellow;
   width: 150px;
   height: 150px;
   background: rgba(255, 255, 0, 0.4);
}

#blue {
   display: inline-block;
   background-color: blue;
   width: 150px;
   height: 150px;
   background: rgba(0, 0, 255, 0.4);
}

#green.light {
   background: rgba(0, 204, 0, 1);

}

#red.light {
   background: rgba(255, 0, 0, 1);
}

#yellow.light {
   background: rgba(255, 255, 0, 1);
}

#blue.light {
   background: rgba(0, 0, 255, 1);
}

.square {
   border-width: 4px;
   border-style: solid;
}

#start_button {
   font-size: 20px;
   margin-top:5px;
}

#turn {
   margin: 0;
}

#controls {
   margin: 0 auto;
   text-align: center;
   display: relative;
   border-width: 2px;
   border-style: solid;
   width: 314px;
   height: 100px;
}



