h1 {
   font-size: 50px;
   margin: 0 auto;
   text-align: center;
}

.outside{
   border-radius: 50%;
   border-width: 3px;
   width: 1264px;
   height: 300px;
   display: inline-block;
   margin-left: auto;
   position: relative;
   margin: 0 auto;
   position: relative;
   text-align: center;
}


#green {
   display: inline-block;
   background-color: green;
   width: 150px;
   height: 150px;
   background: rgba(0, 255, 0, 0.2);
}

#red {
   display: inline-block;
   background-color: red;
   width: 150px;
   height: 150px;
   opacity: 0.4; 
   border-width: 4px;
   border-style: solid;
}

#yellow {
   display: inline-block;
   background-color: yellow;
   width: 150px;
   height: 150px;
   opacity: 0.4; 
}

#blue {
   display: inline-block;
   background-color: blue;
   width: 150px;
   height: 150px;
   opacity: 0.4; 
}

.square {
   border-width: 4px;
   border-style: solid;

}

.light {
   opacity: 1 !important;
   background: rgba(0, 0, 0, 1);
}

#controls {
   margin: 0 auto;
   text-align: center;
}
